<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sounders</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" th:fragment="header">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Sounders</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
<br/>
<br/>
<br/>
<div class="container">
    <div class="row col-md-8 offset-md-2">
        <div class="card">
            <div th:if="${param.success}">
                <div class="alert alert-info">Te has registrado correctamente. ¡Bienvenido a Sounders!</div>
            </div>
            <div id="redirectAlert" class="alert alert-success fade show" role="alert" style="display: none;">
                Estás siendo redirigido a la página de inicio de sesión...
            </div>
        </div>
        <div class="card-header">
            <h2 class="text-center">Registrate en Sounders</h2>
        </div>
        <div class="card-body">
            <form method="post" role="form" th:action="@{/register/save}" th:object="${user}">

                <div class="form-group mb-3">
                    <label class="form-label">Tu nombre</label>
                    <input class="form-control"
                           id="firstName"
                           name="firstName"
                           placeholder="Introduce tu nombre"
                           th:field="*{firstName}"
                           type="text"
                    />
                    <p th:errors="*{firstName}" class="text-danger"
                       th:if="${#fields.hasErrors('firstName')}">
                    </p>
                </div>

                <div class="form-group mb-3">
                    <label class="form-label">Tu nombre de usuario</label>
                    <input class="form-control"
                           id="username"
                           name="username"
                           placeholder="Introduce tu nombre de usuario"
                           th:field="*{username}"
                           type="text"
                    />
                    <p th:errors="*{username}" class="text-danger"
                       th:if="${#fields.hasErrors('username')}">
                    </p>
                </div>
                <div class="form-group mb-3">
                    <label class="form-label">Email</label>
                    <input class="form-control"
                           id="email"
                           name="email"
                           placeholder="Introduce tu email"
                           th:field="*{email}"
                           type="email"
                    />
                    <p th:errors="*{email}" class="text-danger"
                       th:if="${#fields.hasErrors('email')}">
                    </p>
                </div>
                <div class="form-group mb-3">
                    <label class="form-label">Contraseña</label>
                    <input class="form-control"
                           id="password"
                           name="password"
                           placeholder="Introduce tu contraseña"
                           th:field="*{password}"
                           type="password"
                    />
                    <p th:errors="*{password}" class="text-danger"
                       th:if="${#fields.hasErrors('password')}">
                    </p>
                </div>
                <div class="form-group mb-3">
                    <label class="form-label">Confirmar Contraseña</label>
                    <input class="form-control"
                           id="confirmPassword"
                           name="confirmPassword"
                           placeholder="Confirma tu contraseña"
                           type="password"
                    />
                    <p th:errors="*{confirmPassword}" class="text-danger"
                       th:if="${#fields.hasErrors('confirmPassword')}">
                    </p>
                </div>

                <div class="form-group mb-3">
                    <button class="btn btn-primary" type="submit">Crear cuenta</button>
                    <span>¿Ya tienes una cuenta? <a href="/" th:href="@{/login}">Iniciar sesión</a></span>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Script -->
<script src="/js/register.js"></script>
</body>
</html>